table.calendar tbody tr:nth-child(odd) td, tbody tr.odd td { background: #ffffff;}
table.calendar tbody tr:nth-child(even) td, tbody tr.even td { background: #ffffff;}

.calendar {
  margin: auto;
}

.monthName th {
  font-weight: normal;
  text-align: right;
  padding-top: 0.7em;
  padding-bottom: 0.4em;
}

.dayName th {
  font-size: 0.4em;
  padding-top: 0.3em; 
  padding-bottom: 0.1em;
  background-color: #303030;
  color: white;
}

.otherMonth, .day, .specialDay {
  padding: 0.4em 0.4em;
  border-right: 1px solid white;

}

.otherMonth {
  color: #eeeeee;
  background-color: white;
}

.day, .specialDay {
  text-align: center;
  border-bottom: 1px dotted #bbbbbb;
}

.selected{
	font-weight:bold;
}