html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td { margin: 0; padding: 0; border: 0px; }
body { font-family: georgia, "Times New Roman", sans-serif; color: #777;
       background-color: #fff; }
a { color: #d40000; text-decoration: none; }
  a:hover { color: #8f0000; }
p { margin-left: 10px; }
h1 { font-size: 2em; font-weight: normal; font-style: italic;
     padding: 0 0 15px 10px; margin: 0 0 10px; }
h2 { font-weight: bold; font-size: 1.6em; padding: 0 0 10px 10px;}
h3 { font-size: 1.7em; font-weight: normal; margin: 0 0 20px; }

#container { width: 900px; margin: 0 auto;}

#login_box { padding: 0px 4px 4px 4px; float: right; background-color: #999999;
             font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
             width: 220px; margin-bottom:10px; }
  #login_box input { margin-top: 5px; }

#header { padding-top: 50px; border-bottom: 1px solid #ddd; } 

#menu { float: right; margin: 10px 10px 10px 0; }
  #menu li { display: inline; list-style: none; }
  #menu li a { float: left; margin: 0 0 0 20px;  color: #888; }
  #menu li a:hover { color: #555; border-bottom: 2px solid #ccc; }
  #menu .active a { border-bottom: 2px solid #d40000; color: #d40000;}

#content { clear: both; margin-top: 30px; } 

#footer { margin-top: 15px; padding: 15px 0px 15px 0px; font-size: 9pt;
          border-top: 1px solid #ddd;}

.title{ font-size: 54pt; font-weight: normal; }
.small{ font-size: 8pt;}
.red{ color: #d40000;}
