<ul id="menu">
  <li class="<%= "active" if (controller.controller_name == "pages") || 
                              (controller.controller_name == "images") -%>">
    <%= link_to t("pages.menutitle"), pages_path %></li>
</ul>
