<% if object.errors.any? %>
  <div id="error_explanation">
    <h3><%= t("activerecord.errors.template.header", 
              :model => modelname,
              :count => object.errors.count) %></h3>
    <p><%= t("activerecord.errors.template.body") %></p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
