<div id="header">
<div id="menu">
<%= render :partial => "shared/menu" %>
</div>
<p><a id="title" href="http://<%= I18n.locale.to_s + '.' + domain  %>"><span class="red"><%= t("txt.private") %></span><%= t("txt.practice") %></a></p>
</div>
