<ul id="menu">
  <% for menuitem in Page.where("nested = ?",false).order("sequence ASC") %>
    <% if @page and @page == menuitem %>
      <li class="active">
    <% elsif @subpages and @subpages.first == menuitem %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
    <%= link_to menuitem.get_content(I18n.locale).title, page_path(menuitem) %></li>
  <% end %>
  <li class="<%= "active" if (controller.controller_name == "users") -%>">
  <% unless signed_in? %>
    <%= link_to t("users.newtitle"), signup_path %></li>
  <% end %>
</ul>
