<ul id="menu">
  <% for menuitem in Page.where("nested = ?",false).order("sequence ASC") %>
    <% if @page and @page == menuitem %>
      <li class="active">
    <% elsif @subpages and @subpages.first == menuitem %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
    <%= link_to menuitem.get_content(I18n.locale).title, page_path(menuitem) %></li>
 <% end %>
</ul>
