$("#new_page").html("<%= escape_javascript(render(:partial => "form")) %>");
$('#new_page .ui-icon-document').click(function() {
  $("#new_page :input:not(input[type=submit])").val("");
});
$('#new_page .ui-icon-closethick').click(function() {
  $("#new_page").html("<p><%= escape_javascript(
      link_to "", new_page_path, :remote => true, 
      :class => "ui-button ui-icon-document", 
      :title => t("pages.new")) %></p>");
});
$("#new_page").slideDown();
