$("#new_page").html("<%= escape_javascript(render(:partial => "form")) %>");
$("#new_locale").attr('disabled','disabled');
$('#new_page .ui-icon-document').click(function() {
  $("#new_page :input:not(input[type=submit])").val("");
});
$('#new_page .ui-icon-closethick').click(function() {
  $("#new_page").html("<p><%= escape_javascript(
      link_to "", new_page_path, :remote => true, 
      :class => "button ui-icon-document", 
      :title => t("pages.new")) %></p>");
  $("#new_locale").removeAttr("disabled");
});
$("#new_page").slideDown();
$("#page_content_locale").val($("#new_locale").val()); 
$("a#insert_image").click(function(){
  $('#page_content_body').insertAtCaret($("#image_select :selected").val());
  return false;
});
$("textarea.resizable").resizable({
  minWidth : 150,
  maxWidth : 700,
  minHeight : 30,
  maxHeight : 1500,
  containment: 'parent'
});
lightbox();
