<% if @subpages %> 
  <div id="subcontent">
    <%= raw BlueCloth.new(@page.body).to_html %>
  </div>
  <div id="submenu">
    <ul>
      <% for subpage in @subpages %>
        <% if subpage.nested and subpage == @page %>
          <li class="indent bold">
        <% elsif subpage.nested and subpage != @page %>
          <li class="indent">
        <% elsif subpage == @page %>
          <li class="bold">
        <% else %>
          <li>
        <% end %>
        <%= link_to subpage.title, page_path(subpage) %></li>
      <% end %>
    </ul>
  </div>
<% else %>
<div id="pagecontent"> 
 <%= raw BlueCloth.new(@page.body).to_html %>
</div>
<% end %>
