<% if @page.nested? %> 
  <div id="subcontent">
    <%= raw @page.body %>
  </div>
  <div id="submenu">
    <ul>
      <li><a href="#">Treatments for skin</a></li>
      <li><a href="#">Medicine</a></li>
      <li><a href="#">Doctores</a></li>
    </ul>
  </div>
<% else %>
 <%= raw @page.body %>
<% end %>
