<% if @subpages %> 
  <div id="subcontent">
<% else %>
  <div id="pagecontent">
<% end %>
    <% if @page.get_content(I18n.locale).html %>
      <%= raw @page.get_content(I18n.locale).body %>
    <% else %>
      <%= raw BlueCloth.new(@page.get_content(I18n.locale).body).to_html %>
    <% end %>
  </div>
<% if @subpages %> 
  <div id="submenu">
    <ul>
      <% for subpage in @subpages %>
        <% if subpage.nested and subpage == @page %>
          <li class="indent bold">
        <% elsif subpage.nested and subpage != @page %>
          <li class="indent">
        <% elsif subpage == @page %>
          <li class="bold">
        <% else %>
          <li>
        <% end %>
        <%= link_to subpage.get_content(I18n.locale).title, page_path(subpage) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
