<% if @subpages %> 
  <div id="subcontent" class="span-18 colborder">
<% else %>
  <div class="span-24 last">
<% end %>
    <% if @showpage.get_content(I18n.locale).html %>
      <%= raw @showpage.get_content(I18n.locale).body %>
    <% else %>
      <%= raw BlueCloth.new(@showpage.get_content(I18n.locale).body).to_html %>
    <% end %>
  </div>
<% if @subpages %> 
  <div id="submenu" class="span-5 last">
	<ul>
      <% for subpage in @subpages %>
        <% if subpage.nested and subpage == @showpage %>
          <li class="active">
        <% elsif subpage.nested and subpage != @showpage %>
          <li>
        <% end %>
        <% if subpage.nested %>
          <%= link_to subpage.get_content(I18n.locale).title, page_path(subpage) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
