<h2><%= t("appointments.cal_for") + " " + current_user.name %></h2>
</p><span class="legend-icon booked-icon"></span> <%= @bookedcount[0].to_s + " " + t((@bookedcount[0] == 1) ? "appointments.booked_app" : "appointments.booked_apps")%><br />
<span class="legend-icon unbooked-icon"></span> <%= @bookedcount[1].to_s + " " + t((@bookedcount[1] == 1) ? "appointments.unbooked_app" : "appointments.unbooked_apps")%></p>
