  <div class="field">
    <div id="splitlabel"><p><%= t("appointments.unsplit") %></p></div>
  </div>
  <div class="slider-field">
    <%= hidden_field :appointment, :split %>
    <div id="split-slider"></div>
  </div>
