<table class="week">
  <thead>
    <tr>
      <th></th>
      <% @next = @begin %>
      <% y = (@weekend == "1")? 6 : 4 %>
      <% for i in 0..y %>
        <th><%= l(@next, :format => :only_day_name) %><br />
             <%= l(@next, :format => :short_date) %></th>
        <% @next = @next.tomorrow %>
      <% end %>
    <tr>
  </thead>
  <tbody>
    <% for i in 0..((@stop-@start)-1) %>
    <tr>
      <% hour = i + @start %>
      <td class="hour"><span class="big"><%= (hour.to_s.length < 2) ? "0" + hour.to_s : hour %></span><span class="superscript">00</span></td>
      <% @next = @begin %>
      <% for i2 in 0..y %>
        <td class="<%= (@weekend == "1")? "weekend #{i}_#{i2}" : "no_weekend #{i}_#{i2}" %>"></td>
        <% @next = @next.tomorrow %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
