<table>
  <% @images.each do |image| %>
    <tr>
      <td><%= link_to image.name, image_path(image),
        :title => image.description, :class => "lightbox picture" %></td>
      <% image_link = "![" + image.name + "]\(" + image_url(image) +  " \"" + image.description + "\"\)" %>
      <td class="icon"><%= text_field :image, :link, :value => image_link,  :size => "45" ,
        :class => "link_box" %></td>
      <td class="icon"><%= link_to "", edit_image_path(image), :remote => true,
        :class => "button ui-icon-wrench", :title => t("images.edit") %></td>
      <td class="icon"><%= link_to "", image, :remote => true, 
        :confirm => t("images.confirmation"), :method => :delete, 
        :class => "button ui-icon-trash", :title => t("images.delete") %></td>
    </tr>
  <% end %>
</table>
