<table>
  <% for image in @images %>
    <tr>
      <td><%= link_to image.name, image_path(image),
        :title => image.description %></td>
      <td class="icon"><%= text_field :image, :name, :value => image_url(image), :size => "45", 
        :class => "image_link" %></td>
      <td class="icon"><%= link_to "", edit_image_path(image), :remote => true,
        :class => "ui-button ui-icon-wrench", :title => t("images.edit") %></td>
      <td class="icon"><%= link_to "", image, :remote => true, 
        :confirm => t("images.confirmation"), :method => :delete, 
        :class => "ui-button ui-icon-trash", :title => t("images.delete") %></td>
    </tr>
  <% end %>
</table>
